@charset "UTF-8";
#container section#books {
  flex-wrap: nowrap;
}
#container section#books .column.left_area {
  width: 35%;
}
#container section#books .column.left_area article.dragger {
  width: 100%;
}
#container section#books .column.left_area article.dragger#popularBooks .content {
  padding: 1.042vw 2.604vw;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory ul li {
  width: calc((100% - 40px) / 5);
  padding: 5px;
  text-align: center;
  font-size: 10px;
  color: var(--MainColor-Black);
  border-radius: 999px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory ul li.on {
  color: var(--MainColor-Purple);
  border: 1px solid var(--SubColor-Purple2);
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap {
  width: 50px;
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  margin-left: auto;
  position: relative;
  z-index: 9;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap.on .selectBox {
  height: auto;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap button.title {
  width: 100%;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap button.title span.arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/common/Chevron_down.png) no-repeat center;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap .selectBox {
  height: 0;
  position: absolute;
  left: 0;
  top: 100%;
  overflow: hidden;
  transition: 0.5s;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap .selectBox span {
  display: inline-block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: var(--Stroke-Gray);
  background-color: #fff;
  cursor: pointer;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap .selectBox span:hover {
  background-color: #f6ecff;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap {
  margin-top: 10px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--Stroke-Gray);
  opacity: 0;
  transform: translateY(-20px);
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li:not(:first-child) {
  margin-top: 10px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li img {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure {
  display: flex;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 12px;
  padding: 0 25px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank span {
  display: block;
  font-size: 6px;
  color: var(--Font-Gray);
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank span.keep::before {
  content: "";
  width: 4px;
  height: 2px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank span.up {
  color: var(--RankUpBadge-Green);
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank span.up::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: url(../images/common/rankUp_arrow.png) no-repeat center/contain;
  margin-right: 2px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank span.down {
  color: var(--RankDownBadge-Red);
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank span.down::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: url(../images/common/rankDown_arrow.png) no-repeat center/contain;
  margin-right: 2px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure figcaption h3.bookName {
  font-size: 10px;
  font-weight: 600;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure figcaption .bookWriter {
  margin-top: 5px;
  font-size: 8px;
  color: var(--Font-Gray);
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure figcaption .bookPoint {
  margin-top: 20px;
  font-size: 8px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure figcaption .bookPoint .point {
  font-weight: 600;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure figcaption .bookPoint .txt {
  margin-left: 5px;
}
#container section#books .column.left_area article.dragger#popularKeyword .content {
  padding: 20px 25px 50px;
}
#container section#books .column.left_area article.dragger#popularKeyword .content p.timeText {
  font-size: 10px;
  text-align: right;
}
#container section#books .column.left_area article.dragger#popularKeyword .content .keywordList {
  margin-top: 40px;
}
#container section#books .column.left_area article.dragger#popularKeyword .content .keywordList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 12px;
  row-gap: 20px;
}
#container section#books .column.left_area article.dragger#popularKeyword .content .keywordList ul li {
  font-size: 12px;
  border: 1px solid #e0c1ff;
  border-radius: 999px;
  padding: 5px 10px;
}
#container section#books .column.left_area article.dragger#popularKeyword .content .keywordList ul li::before {
  content: "#";
  display: inline-block;
}
#container section#books .column.right_area {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#container section#books .column.right_area article.dragger {
  width: calc((100% - 20px) / 2);
  height: calc((100% - 20px) / 2);
}
#container section#books .column.right_area article.dragger .content {
  padding: 20px 30px;
}
#container section#books .column.right_area article.dragger#genreStats .content .timeText {
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap {
  position: relative;
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap .canvas_title {
  font-size: 12px;
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap .canvas_box {
  display: flex;
  justify-content: center;
  gap: 70px;
  width: 352px;
  height: 208px;
  margin: 0 auto;
  margin-top: 20px;
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap .canvas_box canvas {
  width: 208px;
  height: 208px;
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap .canvas_box ul#genreStats_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap .canvas_box ul#genreStats_list li {
  font-size: 10px;
  white-space: nowrap;
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap .canvas_box ul#genreStats_list li span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-top: 2px;
  margin-right: 10px;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea {
  margin-top: 45px;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .info_title {
  font-size: 12px;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 10px;
  font-size: 10px;
  margin-top: 20px;
  white-space: nowrap;
  position: relative;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox {
  text-align: center;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox button.selectBtn {
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  border: 0.5px solid var(--Stroke-Gray);
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox button.selectBtn i.down_arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/common/Chevron_down_15.png) no-repeat center;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -7.5px;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox .select {
  width: 100px;
  height: 60px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 10px;
  position: absolute;
  display: none;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox .select ul {
  height: 100%;
  background-color: #fff;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox .select ul li {
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  color: var(--Font-Gray);
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox .select ul li:hover {
  background-color: #f6ecff;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea p.summary {
  text-align: right;
  font-size: 10px;
  vertical-align: baseline;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea p.summary span {
  vertical-align: baseline;
  font-size: 16px;
  font-weight: 500;
}
#container section#books .column.right_area article.dragger#mediaContent {
  height: auto;
}
#container section#books .column.right_area article.dragger#mediaContent .content .timeText {
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
#container section#books .column.right_area article.dragger#mediaContent .content .canvas_wrap {
  position: relative;
}
#container section#books .column.right_area article.dragger#mediaContent .content .canvas_wrap .canvas_title {
  font-size: 12px;
}
#container section#books .column.right_area article.dragger#mediaContent .content .canvas_wrap .chartWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 370px;
  margin: 0 auto;
  margin-top: 65px;
}
#container section#books .column.right_area article.dragger#mediaContent .content .canvas_wrap .chart {
  width: 110px;
  height: 110px;
  position: relative;
}
#container section#books .column.right_area article.dragger#mediaContent .content .canvas_wrap .chart::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #e7ccff;
  clip-path: circle(50% at center);
  position: absolute;
  left: 0;
  top: 0;
}
#container section#books .column.right_area article.dragger#mediaContent .content .canvas_wrap .chart::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  clip-path: circle(42.5% at center);
  position: absolute;
  left: 0;
  top: 0;
}
#container section#books .column.right_area article.dragger#mediaContent .content .canvas_wrap canvas {
  position: relative;
  z-index: 9;
}
#container section#books .column.right_area article.dragger#milliContent {
  height: auto;
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap {
  position: relative;
  /* 인기 컨텐츠 카테고리 순위 */
  /* 카테고리 별 최다 이용 컨텐츠 */
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap p.timeText {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  text-align: right;
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .summary {
  font-size: 12px;
  color: var(--MainColor-Black);
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .popular_content .listWrap {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .popular_content .listWrap .cata {
  font-size: 10px;
  color: var(--MainColor-Black);
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .popular_content .listWrap ol {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .popular_content .listWrap ol li {
  font-size: 10px;
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .popular_content .listWrap ol li .rank {
  color: var(--MainColor-Purple);
  margin-right: 5px;
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .most_content {
  margin-top: 50px;
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .most_content .listWrap {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .most_content .listWrap .con {
  flex: 1;
  border: 0.5px solid #484848;
  border-radius: 5px;
  padding: 10px 15px;
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .most_content .listWrap .con .con_title {
  font-size: 10px;
  color: var(--MainColor-Black);
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .most_content .listWrap .con .book_info {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .most_content .listWrap .con .book_info .name {
  color: var(--MainColor-Purple);
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .most_content .listWrap .con .book_info .read {
  color: var(--Font-Gray);
  margin-top: 10px;
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .most_content .listWrap .con .book_info .read span {
  color: var(--MainColor-Black);
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .most_content .listWrap .con .book_info .complet {
  color: var(--Font-Gray);
  margin-top: 5px;
}
#container section#books .column.right_area article.dragger#milliContent .content .con_wrap .most_content .listWrap .con .book_info .complet span {
  color: var(--MainColor-Black);
}
#container section#books .column.right_area article.dragger#bookInfoPanel {
  height: auto;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content {
  padding: 20px 30px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap label {
  position: relative;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap label input#search_book {
  width: 100%;
  font-size: 12px;
  color: var(--Font-Gray);
  padding: 8px 15px;
  border: 1px solid var(--MainColor-Black);
  border-radius: 3px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap label .search_icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/common/Icon_search.png) no-repeat center/cover;
  position: absolute;
  right: 15px;
  top: 8px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_main {
  margin-top: 30px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_main figure {
  display: flex;
  justify-content: space-around;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_main figure figcaption {
  color: var(--MainColor-Black);
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_main figure figcaption .name {
  font-size: 12px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_main figure figcaption .author {
  font-size: 10px;
  color: var(--Font-Gray);
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_main figure figcaption ul.info_list {
  font-size: 10px;
  margin-top: 20px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_main figure figcaption ul.info_list li span {
  font-weight: 700;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_list {
  color: var(--MainColor-Black);
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_list > div {
  flex: 1;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_list > div.list01 {
  text-align: center;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_list > div.list01 ol {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_list > div.list01 ol li {
  font-size: 9px;
  line-height: 12px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_list > div.list01 ol li .rank {
  font-size: 10px;
  font-weight: 700;
  margin-right: 5px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_list > div.list02 ul {
  margin-top: 10px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_list > div.list02 ul li {
  color: var(--Font-Gray);
  font-size: 9px;
  line-height: 12px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_list > div.list02 ul li:not(:first-child) {
  margin-top: 5px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_list > div.list02 ul li span {
  font-size: 10px;
  font-weight: 600;
  color: var(--MainColor-Black);
  margin-right: 5px;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_list > div.list02 ul li .icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-top: 2px;
  margin-left: 2px;
  background: url(../images/common/rankDown_arrow.png) no-repeat center/contain;
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_list > div.list02 ul li .icon.up {
  background-image: url(../images/common/rankUp_arrow.png);
}
#container section#books .column.right_area article.dragger#bookInfoPanel .content .conWrap .bookInfo_list > div.list02 ul li .icon.down {
  background-image: url(../images/common/rankDown_arrow.png);
}