#container section#books {
  flex-wrap: nowrap;
}
#container section#books .column.left_area {
  width: 35%;
}
#container section#books .column.left_area article.dragger {
  width: 100%;
}
#container section#books .column.left_area article.dragger#popularBooks .content {
  padding: 1.042vw 2.604vw;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory ul li {
  width: calc((100% - 40px) / 5);
  padding: 5px;
  text-align: center;
  font-size: 10px;
  color: var(--MainColor-Black);
  border-radius: 999px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory ul li.on {
  color: var(--MainColor-Purple);
  border: 1px solid var(--SubColor-Purple2);
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap {
  width: 50px;
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  margin-left: auto;
  position: relative;
  z-index: 9;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap.on .selectBox {
  height: auto;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap button.title {
  width: 100%;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap button.title span.arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/common/Chevron_down.png) no-repeat center;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap .selectBox {
  height: 0;
  position: absolute;
  left: 0;
  top: 100%;
  overflow: hidden;
  transition: 0.5s;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap .selectBox span {
  display: inline-block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: var(--Stroke-Gray);
  background-color: #fff;
  cursor: pointer;
}
#container section#books .column.left_area article.dragger#popularBooks .content .bookCategory .selectWrap .selectBox span:hover {
  background-color: #f6ecff;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap {
  margin-top: 10px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--Stroke-Gray);
  opacity: 0;
  transform: translateY(-20px);
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li:not(:first-child) {
  margin-top: 10px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li img {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure {
  display: flex;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 12px;
  padding: 0 25px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank span {
  display: block;
  font-size: 6px;
  color: var(--Font-Gray);
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank span.keep::before {
  content: "";
  width: 4px;
  height: 2px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank span.up {
  color: var(--RankUpBadge-Green);
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank span.up::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: url(../images/common/rankUp_arrow.png) no-repeat center/contain;
  margin-right: 2px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank span.down {
  color: var(--RankDownBadge-Red);
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure .rank span.down::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: url(../images/common/rankDown_arrow.png) no-repeat center/contain;
  margin-right: 2px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure figcaption h3.bookName {
  font-size: 10px;
  font-weight: 600;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure figcaption .bookWriter {
  margin-top: 5px;
  font-size: 8px;
  color: var(--Font-Gray);
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure figcaption .bookPoint {
  margin-top: 20px;
  font-size: 8px;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure figcaption .bookPoint .point {
  font-weight: 600;
}
#container section#books .column.left_area article.dragger#popularBooks .content .booksWrap ul.bookList li figure figcaption .bookPoint .txt {
  margin-left: 5px;
}
#container section#books .column.left_area article.dragger#popularKeyword .content {
  padding: 20px 25px;
}
#container section#books .column.left_area article.dragger#popularKeyword .content p.timeText {
  font-size: 10px;
  text-align: right;
}
#container section#books .column.left_area article.dragger#popularKeyword .content .keywordList {
  margin-top: 40px;
}
#container section#books .column.left_area article.dragger#popularKeyword .content .keywordList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 12px;
  row-gap: 20px;
}
#container section#books .column.left_area article.dragger#popularKeyword .content .keywordList ul li {
  font-size: 12px;
  border: 1px solid #e0c1ff;
  border-radius: 999px;
  padding: 5px 10px;
}
#container section#books .column.left_area article.dragger#popularKeyword .content .keywordList ul li::before {
  content: "#";
  display: inline-block;
}
#container section#books .column.right_area {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#container section#books .column.right_area article.dragger {
  width: calc((100% - 20px) / 2);
  height: calc((100% - 20px) / 2);
}
#container section#books .column.right_area article.dragger .content {
  padding: 20px 30px;
}
#container section#books .column.right_area article.dragger#genreStats .content .timeText {
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap {
  position: relative;
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap .canvas_title {
  font-size: 12px;
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap .canvas_box {
  display: flex;
  justify-content: center;
  gap: 70px;
  width: 352px;
  height: 208px;
  margin: 0 auto;
  margin-top: 20px;
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap .canvas_box canvas {
  width: 208px;
  height: 208px;
  transform: rotate(100deg);
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap .canvas_box ul#genreStats_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap .canvas_box ul#genreStats_list li {
  font-size: 10px;
  white-space: nowrap;
}
#container section#books .column.right_area article.dragger#genreStats .content .canvas_wrap .canvas_box ul#genreStats_list li span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-top: 2px;
  margin-right: 10px;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea {
  margin-top: 45px;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .info_title {
  font-size: 12px;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 10px;
  font-size: 10px;
  margin-top: 20px;
  white-space: nowrap;
  position: relative;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox {
  text-align: center;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox button.selectBtn {
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  border: 0.5px solid var(--Stroke-Gray);
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox button.selectBtn i.down_arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../../images/common/Chevron_down_15.png) no-repeat center;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -7.5px;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox .select {
  width: 100px;
  height: 60px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 10px;
  position: absolute;
  display: none;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox .select ul {
  height: 100%;
  background-color: #fff;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox .select ul li {
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  color: var(--Font-Gray);
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea .infoWrap .selectBox .select ul li:hover {
  background-color: #f6ecff;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea p.summary {
  text-align: right;
  font-size: 10px;
  vertical-align: baseline;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
}
#container section#books .column.right_area article.dragger#genreStats .content .infoArea p.summary span {
  vertical-align: baseline;
  font-size: 16px;
  font-weight: 500;
}
#container section#books .column.right_area article.dragger#mediaContent .content .timeText {
  font-size: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
#container section#books .column.right_area article.dragger#mediaContent .content .canvas_wrap {
  position: relative;
}
#container section#books .column.right_area article.dragger#mediaContent .content .canvas_wrap .canvas_title {
  font-size: 12px;
}