@charset "UTF-8";
a.block-anchor {
  display: block;
}

.fColor_purple {
  color: var(--MainColor-Purple);
}

.bg-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h3.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 37px;
  line-height: 37px;
  padding: 0 var(--items-gap);
  border-bottom: 1px solid var(--SubColor-Black48);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--MainColor-Yellow);
}

h3.title_bgNon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 37px;
  line-height: 37px;
  padding: 0 var(--items-gap);
  border-bottom: 1px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
}

.data-refresh {
  content: "";
  cursor: pointer;
  display: block;
  padding: 12px;
  background-image: url(../images/common/data-refresh.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.data-more {
  content: "더보기";
  cursor: pointer;
  display: block;
}