:root {
  --items-gap: 20px;
  --bd-radius: 10px;
  --header-height: 50px;
  --padding-left: 30px;
  --padding-right: 30px;
  --container-padding: 30px;
  --MainColor-Yellow: #ffeb60;
  --MainColor-Purple: #a451f7;
  --MainColor-Black: #222;
  --MainColor-White: #fff;
  --SubColor-Purple1: #e0c1ff;
  --SubColor-Purple2: #9747ff;
  --SubColor-Yellow1: #fff298;
  --SubColor-Yellow2: #fffad6;
  --SubColor-Yellow3: #fff5b0;
  --SubColor-Black33: #333;
  --SubColor-Black48: #484848;
  --SubColor-Black77: #777;
  --SubColor-Black99: #999;
  --SubColor-BlackED: #ededed;
  --Stroke-Gray: #484848;
  --Stroke-Gray2: #d5d5d5;
  --SubColor-GrayFB: #fbfbfb;
  --SubColor-BlackED: #ededed;
  --AlertBadge-Active: #fc3030;
  --RankUpBadge-Green: #77d677;
  --RankDownBadge-Red: #ff5656;
  --RankNewBadge-gold: #fec417;
  --Font-Gray: #777777;
}
