#container section#visit .column {
  height: auto;
}
#container section#visit .column article.dragger#users-statistics {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
  box-shadow: none;
}
#container section#visit .column article.dragger#users-statistics div.statList {
  height: calc((100% - 40px) / 3);
  border: 1px solid #000;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px 1px;
}
#container section#visit .column article.dragger#users-statistics div.statList#users-return .canvas_wrap::before {
  background-color: #ededed;
}
#container section#visit .column article.dragger#users-statistics div.statList h3 {
  height: fit-content;
  padding-top: 10px;
  line-height: normal;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
}
#container section#visit .column article.dragger#users-statistics div.statList h3 span.fcolor_gray {
  display: inline-block;
  font-size: 10px;
  color: var(--SubColor-Black77);
}
#container section#visit .column article.dragger#users-statistics div.statList .content {
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#container section#visit .column article.dragger#users-statistics div.statList .content .txtBox {
  color: var(--MainColor-Black);
  font-size: 12px;
}
#container section#visit .column article.dragger#users-statistics div.statList .content .txtBox p:not(:first-child) {
  margin-top: 5px;
}
#container section#visit .column article.dragger#users-statistics div.statList .content .txtBox .circle_01::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 3px;
  background-color: var(--SubColor-Purple1);
}
#container section#visit .column article.dragger#users-statistics div.statList .content .txtBox .circle_02::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 3px;
  background-color: var(--MainColor-Purple);
}
#container section#visit .column article.dragger#users-statistics div.statList .content .txtBox .thanData::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/common/trend_up.png) no-repeat center;
  vertical-align: middle;
}
#container section#visit .column article.dragger#users-statistics div.statList .content .canvas_wrap {
  width: 110px;
  height: 110px;
  position: relative;
}
#container section#visit .column article.dragger#users-statistics div.statList .content .canvas_wrap::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #e7ccff;
  clip-path: circle(50% at center);
  position: absolute;
  left: 0;
  top: 0;
}
#container section#visit .column article.dragger#users-statistics div.statList .content .canvas_wrap::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  clip-path: circle(42.5% at center);
  position: absolute;
  left: 0;
  top: 0;
}
#container section#visit .column article.dragger#users-statistics div.statList .content .canvas_wrap canvas {
  position: absolute;
  z-index: 1;
}
#container section#visit .column article.dragger#users-visitTime .content {
  padding: 1.042vw 3.125vw 1.823vw; /* 20px 60px 35px; */
}
#container section#visit .column article.dragger#users-visitTime .content::after {
  content: "";
  display: block;
  clear: both;
}
#container section#visit .column article.dragger#users-visitTime .content p.currentTime {
  font-size: 10px;
  float: right;
  margin-right: -30px;
}
#container section#visit .column article.dragger#users-visitTime .content .canvas_wrap {
  height: 100%;
  margin-top: 40px;
}
#container section#visit .column article.dragger#users-visitTime .content .canvas_wrap div.chart_legend {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}
#container section#visit .column article.dragger#users-visitTime .content .canvas_wrap div.chart_legend span {
  display: flex;
  align-items: center;
  width: 40px;
  font-size: 8px;
  vertical-align: middle;
}
#container section#visit .column article.dragger#users-visitTime .content .canvas_wrap div.chart_legend span::before {
  content: "";
  display: inline-block;
  padding: 3.5px;
  border: 0.5px solid #222;
  border-radius: 50%;
  margin-right: 7px;
}
#container section#visit .column article.dragger#users-visitTime .content .canvas_wrap div.chart_legend span.member::before {
  background-color: var(--MainColor-Purple);
}
#container section#visit .column article.dragger#users-visitTime .content .canvas_wrap div.chart_legend span.guest::before {
  background-color: var(--MainColor-Yellow);
}
#container section#visit .column article.dragger#users-demographics {
  flex: 1;
}
#container section#visit .column article.dragger#users-demographics .content {
  padding: 1.042vw 1.823vw 1.823vw; /* 20px 35px 35px; */
}
#container section#visit .column article.dragger#users-demographics .content::after {
  content: "";
  display: block;
  clear: both;
}
#container section#visit .column article.dragger#users-demographics .content p.currentTime {
  font-size: 10px;
  float: right;
  margin-right: -10px;
}
#container section#visit .column article.dragger#users-demographics .content .canvas_wrap {
  margin-top: 30px;
  position: relative;
}
#container section#visit .column article.dragger#users-demographics .content .canvas_wrap div.chart_legend {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right: 0;
  top: 30px;
}
#container section#visit .column article.dragger#users-demographics .content .canvas_wrap div.chart_legend span {
  display: flex;
  align-items: center;
  width: 40px;
  font-size: 8px;
}
#container section#visit .column article.dragger#users-demographics .content .canvas_wrap div.chart_legend span::before {
  content: "";
  display: inline-block;
  padding: 3.5px;
  border-radius: 50%;
  margin-right: 7px;
}
#container section#visit .column article.dragger#users-demographics .content .canvas_wrap div.chart_legend span.male::before {
  background-color: var(--MainColor-Purple);
}
#container section#visit .column article.dragger#users-demographics .content .canvas_wrap div.chart_legend span.female::before {
  background-color: var(--MainColor-Yellow);
}
#container section#visit .column article.dragger#users-traffic {
  flex: 1;
}
#container section#visit .column article.dragger#users-traffic .content {
  padding: 1.042vw 1.823vw 1.823vw; /* 20px 35px 35px; */
}
#container section#visit .column article.dragger#users-traffic .content p.currentTime {
  font-size: 10px;
  float: right;
  margin-right: -10px;
}
#container section#visit .column article.dragger#users-traffic .content .canvas_wrap {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 42px 10px;
  align-items: center;
}
#container section#visit .column article.dragger#users-traffic .content .canvas_wrap .traffic_wrap .traffic_list:not(:first-child) {
  margin-top: 30px;
}
#container section#visit .column article.dragger#users-traffic .content .canvas_wrap .traffic_wrap .traffic_list h4 {
  font-weight: 600;
  font-size: 12px;
}
#container section#visit .column article.dragger#users-traffic .content .canvas_wrap .traffic_wrap .traffic_list ul.trfList {
  display: flex;
  gap: 30px;
  margin-top: 15px;
}
#container section#visit .column article.dragger#users-traffic .content .canvas_wrap .traffic_wrap .traffic_list ul.trfList p.trf_value {
  font-size: 10px;
}
#container section#visit .column article.dragger#users-traffic .content .canvas_wrap .traffic_wrap .traffic_list ul.trfList .perBar_wrap {
  width: 100px;
  height: 7px;
  margin-top: 5px;
  background-color: #d9d9d9;
  border-radius: 999px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
}
#container section#visit .column article.dragger#users-traffic .content .canvas_wrap .traffic_wrap .traffic_list ul.trfList .perBar_wrap .perBar {
  width: 50%;
  height: 100%;
  border-radius: 999px;
  background-color: var(--MainColor-Purple);
}
#container section#visit .column article.dragger#users-traffic .content .canvas_wrap .traffic_wrap .traffic_list ul.trfList .perBar_wrap span.per_num {
  font-size: 8px;
  position: absolute;
  left: 0;
  top: 12px;
  transform: translateX(-50%);
}