#container {
  section#books {
    flex-wrap: nowrap;
    .column {
      &.left_area {
        width: 35%;
        article.dragger {
          width: 100%;
          &#popularBooks {
            .content {
              padding: 1.042vw 2.604vw;
              .bookCategory {
                ul {
                  display: flex;
                  flex-wrap: wrap;
                  column-gap: 10px;
                  row-gap: 5px;
                  li {
                    width: calc((100% - 40px) / 5);
                    padding: 5px;
                    text-align: center;
                    font-size: 10px;
                    color: var(--MainColor-Black);
                    border-radius: 999px;
                    cursor: pointer;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &.on {
                      color: var(--MainColor-Purple);
                      border: 1px solid var(--SubColor-Purple2);
                    }
                  }
                }
                .selectWrap {
                  width: 50px;
                  margin-top: 20px;
                  text-align: center;
                  font-size: 10px;
                  margin-left: auto;
                  position: relative;
                  z-index: 9;
                  &.on .selectBox {
                    height: auto;
                  }
                  button.title {
                    width: 100%;
                    height: 20px;
                    line-height: 20px;
                    cursor: pointer;
                    span.arrow {
                      display: inline-block;
                      width: 20px;
                      height: 20px;
                      background: url(../images/common/Chevron_down.png) no-repeat center;
                    }
                  }
                  .selectBox {
                    height: 0;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    overflow: hidden;
                    transition: 0.5s;
                    span {
                      display: inline-block;
                      width: 100%;
                      height: 20px;
                      line-height: 20px;
                      color: var(--Stroke-Gray);
                      background-color: #fff;

                      cursor: pointer;
                      &:hover {
                        background-color: #f6ecff;
                      }
                    }
                  }
                }
              }
              .booksWrap {
                margin-top: 10px;
                ul.bookList {
                  li {
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid var(--Stroke-Gray);
                    opacity: 0;
                    transform: translateY(-20px);
                    &:not(:first-child) {
                      margin-top: 10px;
                    }
                    img {
                      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
                    }
                    figure {
                      display: flex;
                      .rank {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 7px;
                        font-size: 12px;
                        padding: 0 25px;
                        span {
                          display: block;
                          font-size: 6px;
                          color: var(--Font-Gray);
                          &.keep {
                            &::before {
                              content: "";
                              width: 4px;
                              height: 2px;
                            }
                          }
                          &.up {
                            color: var(--RankUpBadge-Green);
                            &::before {
                              content: "";
                              display: inline-block;
                              width: 5px;
                              height: 5px;
                              background: url(../images/common/rankUp_arrow.png) no-repeat center / contain;
                              margin-right: 2px;
                            }
                          }
                          &.down {
                            color: var(--RankDownBadge-Red);
                            &::before {
                              content: "";
                              display: inline-block;
                              width: 5px;
                              height: 5px;
                              background: url(../images/common/rankDown_arrow.png) no-repeat center / contain;
                              margin-right: 2px;
                            }
                          }
                        }
                      }
                      figcaption {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h3.bookName {
                          font-size: 10px;
                          font-weight: 600;
                        }
                        .bookWriter {
                          margin-top: 5px;
                          font-size: 8px;
                          color: var(--Font-Gray);
                        }
                        .bookPoint {
                          margin-top: 20px;
                          font-size: 8px;
                          .point {
                            font-weight: 600;
                          }
                          .txt {
                            margin-left: 5px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          &#popularKeyword {
            .content {
              padding: 20px 25px;
              p.timeText {
                font-size: 10px;
                text-align: right;
              }
              .keywordList {
                margin-top: 40px;
                ul {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  column-gap: 12px;
                  row-gap: 20px;
                  li {
                    font-size: 12px;
                    border: 1px solid #e0c1ff;
                    border-radius: 999px;
                    padding: 5px 10px;
                    &::before {
                      content: "#";
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.right_area {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        article.dragger {
          width: calc((100% - 20px) / 2);
          height: calc((100% - 20px) / 2);
          .content {
            padding: 20px 30px;
          }
          &#genreStats {
            .content {
              .timeText {
                font-size: 10px;
                position: absolute;
                right: 0;
                top: 0;
              }
              .canvas_wrap {
                position: relative;
                .canvas_title {
                  font-size: 12px;
                }
                .canvas_box {
                  display: flex;
                  justify-content: center;
                  gap: 70px;
                  width: 352px;
                  height: 208px;
                  margin: 0 auto;
                  margin-top: 20px;
                  canvas {
                    width: 208px;
                    height: 208px;
                    transform: rotate(100deg);
                  }
                  ul#genreStats_list {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    li {
                      font-size: 10px;
                      white-space: nowrap;
                      span {
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        margin-top: 2px;
                        margin-right: 10px;
                      }
                    }
                  }
                }
              }
              .infoArea {
                margin-top: 45px;
                .info_title {
                  font-size: 12px;
                }
                .infoWrap {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: end;
                  gap: 10px;
                  font-size: 10px;
                  margin-top: 20px;
                  white-space: nowrap;
                  position: relative;
                  .selectBox {
                    text-align: center;
                    button.selectBtn {
                      width: 100px;
                      height: 20px;
                      line-height: 20px;
                      text-align: center;
                      font-size: 10px;
                      border: 0.5px solid var(--Stroke-Gray);
                      border-radius: 3px;
                      position: relative;
                      cursor: pointer;
                      i.down_arrow {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        background: url(../../images/common/Chevron_down_15.png) no-repeat center;
                        position: absolute;
                        right: 5px;
                        top: 50%;
                        margin-top: -7.5px;
                      }
                    }

                    .select {
                      width: 100px;
                      height: 60px;
                      overflow-x: hidden;
                      overflow-y: scroll;
                      margin-top: 10px;
                      position: absolute;
                      display: none;
                      ul {
                        height: 100%;
                        background-color: #fff;
                        li {
                          height: 20px;
                          line-height: 20px;
                          font-size: 10px;
                          color: var(--Font-Gray);
                          &:hover {
                            background-color: #f6ecff;
                          }
                        }
                      }
                    }
                  }
                }
                p.summary {
                  text-align: right;
                  font-size: 10px;
                  vertical-align: baseline;
                  line-height: 20px;
                  margin-top: 10px;
                  margin-bottom: 50px;
                  span {
                    vertical-align: baseline;
                    font-size: 16px;
                    font-weight: 500;
                  }
                }
              }
            }
          }
          &#mediaContent {
            .content {
              .timeText {
                font-size: 10px;
                position: absolute;
                right: 0;
                top: 0;
              }
              .canvas_wrap {
                position: relative;
                .canvas_title {
                  font-size: 12px;
                }
                canvas{
                  
                }
              }
            }
          }
          &#milliContent {
            .content {
            }
          }
          &#bookInfoPanel {
            .content {
            }
          }
        }
      }
    }
  }
}
