#container {
  section#books {
    flex-wrap: nowrap;
    .column {
      &.left_area {
        width: 35%;
        article.dragger {
          width: 100%;
          &#popularBooks {
            .content {
              padding: 1.042vw 2.604vw;
              .bookCategory {
                ul {
                  display: flex;
                  flex-wrap: wrap;
                  column-gap: 10px;
                  row-gap: 5px;
                  li {
                    width: calc((100% - 40px) / 5);
                    padding: 5px;
                    text-align: center;
                    font-size: 10px;
                    color: var(--MainColor-Black);
                    border-radius: 999px;
                    cursor: pointer;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &.on {
                      color: var(--MainColor-Purple);
                      border: 1px solid var(--SubColor-Purple2);
                    }
                  }
                }
                .selectWrap {
                  width: 50px;
                  margin-top: 20px;
                  text-align: center;
                  font-size: 10px;
                  margin-left: auto;
                  position: relative;
                  z-index: 9;
                  &.on .selectBox {
                    height: auto;
                  }
                  button.title {
                    width: 100%;
                    height: 20px;
                    line-height: 20px;
                    cursor: pointer;
                    span.arrow {
                      display: inline-block;
                      width: 20px;
                      height: 20px;
                      background: url(../images/common/Chevron_down.png) no-repeat center;
                    }
                  }
                  .selectBox {
                    height: 0;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    overflow: hidden;
                    transition: 0.5s;
                    span {
                      display: inline-block;
                      width: 100%;
                      height: 20px;
                      line-height: 20px;
                      color: var(--Stroke-Gray);
                      background-color: #fff;

                      cursor: pointer;
                      &:hover {
                        background-color: #f6ecff;
                      }
                    }
                  }
                }
              }
              .booksWrap {
                margin-top: 10px;
                ul.bookList {
                  li {
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid var(--Stroke-Gray);
                    opacity: 0;
                    transform: translateY(-20px);
                    &:not(:first-child) {
                      margin-top: 10px;
                    }
                    img {
                      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
                    }
                    figure {
                      display: flex;
                      .rank {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 7px;
                        font-size: 12px;
                        padding: 0 25px;
                        span {
                          display: block;
                          font-size: 6px;
                          color: var(--Font-Gray);
                          &.keep {
                            &::before {
                              content: "";
                              width: 4px;
                              height: 2px;
                            }
                          }
                          &.up {
                            color: var(--RankUpBadge-Green);
                            &::before {
                              content: "";
                              display: inline-block;
                              width: 5px;
                              height: 5px;
                              background: url(../images/common/rankUp_arrow.png) no-repeat center / contain;
                              margin-right: 2px;
                            }
                          }
                          &.down {
                            color: var(--RankDownBadge-Red);
                            &::before {
                              content: "";
                              display: inline-block;
                              width: 5px;
                              height: 5px;
                              background: url(../images/common/rankDown_arrow.png) no-repeat center / contain;
                              margin-right: 2px;
                            }
                          }
                        }
                      }
                      figcaption {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h3.bookName {
                          font-size: 10px;
                          font-weight: 600;
                        }
                        .bookWriter {
                          margin-top: 5px;
                          font-size: 8px;
                          color: var(--Font-Gray);
                        }
                        .bookPoint {
                          margin-top: 20px;
                          font-size: 8px;
                          .point {
                            font-weight: 600;
                          }
                          .txt {
                            margin-left: 5px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          &#popularKeyword {
            .content {
              padding: 20px 25px 50px;
              p.timeText {
                font-size: 10px;
                text-align: right;
              }
              .keywordList {
                margin-top: 40px;
                ul {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  column-gap: 12px;
                  row-gap: 20px;
                  li {
                    font-size: 12px;
                    border: 1px solid #e0c1ff;
                    border-radius: 999px;
                    padding: 5px 10px;
                    &::before {
                      content: "#";
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.right_area {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        article.dragger {
          width: calc((100% - 20px) / 2);
          height: calc((100% - 20px) / 2);
          .content {
            padding: 20px 30px;
          }
          &#genreStats {
            .content {
              .timeText {
                font-size: 10px;
                position: absolute;
                right: 0;
                top: 0;
              }
              .canvas_wrap {
                position: relative;
                .canvas_title {
                  font-size: 12px;
                }
                .canvas_box {
                  display: flex;
                  justify-content: center;
                  gap: 70px;
                  width: 352px;
                  height: 208px;
                  margin: 0 auto;
                  margin-top: 20px;
                  canvas {
                    width: 208px;
                    height: 208px;
                    transform: rotate(100deg);
                  }
                  ul#genreStats_list {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    li {
                      font-size: 10px;
                      white-space: nowrap;
                      span {
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        margin-top: 2px;
                        margin-right: 10px;
                      }
                    }
                  }
                }
              }
              .infoArea {
                margin-top: 45px;
                .info_title {
                  font-size: 12px;
                }
                .infoWrap {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: end;
                  gap: 10px;
                  font-size: 10px;
                  margin-top: 20px;
                  white-space: nowrap;
                  position: relative;
                  .selectBox {
                    text-align: center;
                    button.selectBtn {
                      width: 100px;
                      height: 20px;
                      line-height: 20px;
                      text-align: center;
                      font-size: 10px;
                      border: 0.5px solid var(--Stroke-Gray);
                      border-radius: 3px;
                      position: relative;
                      cursor: pointer;
                      i.down_arrow {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        background: url(../images/common/Chevron_down_15.png) no-repeat center;
                        position: absolute;
                        right: 5px;
                        top: 50%;
                        margin-top: -7.5px;
                      }
                    }

                    .select {
                      width: 100px;
                      height: 60px;
                      overflow-x: hidden;
                      overflow-y: scroll;
                      margin-top: 10px;
                      position: absolute;
                      display: none;
                      ul {
                        height: 100%;
                        background-color: #fff;
                        li {
                          height: 20px;
                          line-height: 20px;
                          font-size: 10px;
                          color: var(--Font-Gray);
                          &:hover {
                            background-color: #f6ecff;
                          }
                        }
                      }
                    }
                  }
                }
                p.summary {
                  text-align: right;
                  font-size: 10px;
                  vertical-align: baseline;
                  line-height: 20px;
                  margin-top: 10px;
                  margin-bottom: 50px;
                  span {
                    vertical-align: baseline;
                    font-size: 16px;
                    font-weight: 500;
                  }
                }
              }
            }
          }
          &#mediaContent {
            height: auto;
            .content {
              .timeText {
                font-size: 10px;
                position: absolute;
                right: 0;
                top: 0;
              }
              .canvas_wrap {
                position: relative;
                .canvas_title {
                  font-size: 12px;
                }
                .chartWrap {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  gap: 20px;
                  max-width: 370px;
                  margin: 0 auto;
                  margin-top: 65px;
                }
                .chart {
                  width: 110px;
                  height: 110px;
                  position: relative;
                  &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: #e7ccff;
                    clip-path: circle(50% at center);
                    position: absolute;
                    left: 0;
                    top: 0;
                  }
                  &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    clip-path: circle(42.5% at center);
                    position: absolute;
                    left: 0;
                    top: 0;
                  }
                }
                canvas {
                  position: relative;
                  z-index: 9;
                }
              }
            }
          }
          &#milliContent {
            height: auto;
            .content {
              .con_wrap {
                position: relative;
                p.timeText {
                  position: absolute;
                  right: 0;
                  top: 0;
                  font-size: 10px;
                  text-align: right;
                }
                .summary {
                  font-size: 12px;
                  color: var(--MainColor-Black);
                }
                /* 인기 컨텐츠 카테고리 순위 */
                .popular_content {
                  .listWrap {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 45px;
                    .cata {
                      font-size: 10px;
                      color: var(--MainColor-Black);
                    }
                    ol {
                      margin-top: 10px;
                      display: flex;
                      flex-direction: column;
                      gap: 10px;
                      li {
                        font-size: 10px;
                        .rank {
                          color: var(--MainColor-Purple);
                          margin-right: 5px;
                        }
                      }
                    }
                  }
                }
                /* 카테고리 별 최다 이용 컨텐츠 */
                .most_content {
                  margin-top: 50px;
                  .listWrap {
                    display: flex;
                    gap: 10px;
                    margin-top: 15px;
                    .con {
                      flex: 1;
                      border: 0.5px solid #484848;
                      border-radius: 5px;
                      padding: 10px 15px;
                      .con_title {
                        font-size: 10px;
                        color: var(--MainColor-Black);
                      }
                      .book_info {
                        font-size: 10px;
                        text-align: center;
                        margin-top: 10px;
                        .name {
                          color: var(--MainColor-Purple);
                        }
                        .read {
                          color: var(--Font-Gray);
                          margin-top: 10px;
                          span {
                            color: var(--MainColor-Black);
                          }
                        }
                        .complet {
                          color: var(--Font-Gray);
                          margin-top: 5px;
                          span {
                            color: var(--MainColor-Black);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          &#bookInfoPanel {
            height: auto;
            .content {
              padding: 20px 30px;
              .conWrap {
                label {
                  position: relative;
                  input#search_book {
                    width: 100%;
                    font-size: 12px;
                    color: var(--Font-Gray);
                    padding: 8px 15px;
                    border: 1px solid var(--MainColor-Black);
                    border-radius: 3px;
                  }
                  .search_icon {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url(../images/common/Icon_search.png) no-repeat center / cover;
                    position: absolute;
                    right: 15px;
                    top: 8px;
                  }
                }

                .bookInfo_main {
                  margin-top: 30px;
                  figure {
                    display: flex;
                    justify-content: space-around;
                    figcaption {
                      color: var(--MainColor-Black);
                      .name {
                        font-size: 12px;
                      }
                      .author {
                        font-size: 10px;
                        color: var(--Font-Gray);
                      }
                      ul.info_list {
                        font-size: 10px;
                        margin-top: 20px;
                        li {
                          span {
                            font-weight: 700;
                          }
                        }
                      }
                    }
                  }
                }
                .bookInfo_list {
                  color: var(--MainColor-Black);
                  display: flex;
                  gap: 10px;
                  margin-top: 50px;
                  > div {
                    flex: 1;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
                    border: 1px solid #000;
                    border-radius: 5px;
                    &.list01 {
                      text-align: center;
                      ol {
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        margin-top: 15px;
                        li {
                          font-size: 9px;
                          line-height: 12px;
                          .rank {
                            font-size: 10px;
                            font-weight: 700;
                            margin-right: 5px;
                          }
                        }
                      }
                    }
                    &.list02 {
                      ul {
                        margin-top: 10px;
                        li {
                          color: var(--Font-Gray);
                          font-size: 9px;
                          line-height: 12px;
                          &:not(:first-child){
                            margin-top: 5px;
                          }
                          span {
                            font-size: 10px;
                            font-weight: 600;
                            color: var(--MainColor-Black);
                            margin-right: 5px;
                          }
                          .icon {
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            margin-top: 2px;
                            margin-left: 2px;
                            background: url(../images/common/rankDown_arrow.png) no-repeat center / contain;
                            &.up {
                              background-image: url(../images/common/rankUp_arrow.png);
                            }
                            &.down {
                              background-image: url(../images/common/rankDown_arrow.png);
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
