:root {
  // 공통 스타일
  --items-gap: 20px; // #container 요소간의 간격 20px
  --bd-radius: 10px; // 공통 border-radius
  --header-height: 50px; // header 공통통 높이
  --padding-left: 30px;
  --padding-right: 30px;
  --container-padding: 30px; // container 전체 padding 30px

  // 밀리의 서재 메인컬러
  --MainColor-Yellow: #ffeb60; // 밀리 메인컬러 노랑색상
  --MainColor-Purple: #a451f7; // 밀리 메인컬러 보라라색상
  --MainColor-Black: #222; // 밀리 메인컬러 검정색상
  --MainColor-White: #fff; // 밀리 메인컬러 하얀색상
  // 밀리의 서재 서브컬러
  --SubColor-Purple1: #e0c1ff; // 밀리 서브컬러 연보라색상
  --SubColor-Purple2: #9747ff; // 밀리 서브컬러 보라색상
  --SubColor-Yellow1: #fff298; // 밀리 서브컬러 노랑색상
  --SubColor-Yellow2: #fffad6; // 밀리 서브컬러 연노랑색상
  --SubColor-Black33: #333; // 밀리 서브컬러 연보라색상
  --SubColor-Black48: #484848; // 밀리 서브컬러 연보라색상
  --SubColor-Black77: #777; // 밀리 서브컬러 연보라색상
  --SubColor-Black99: #999; // 밀리 서브컬러 연보라색상
  --SubColor-BlackED: #ededed; // 밀리 서브컬러 연보라색상
  // --darkMode-white:#fff;
  // --darkMode-black:#222;

  --Stroke-Gray: #484848; // 회색 선색상
  --Stroke-Gray2: #d5d5d5;
  --SubColor-GrayFB: #fbfbfb;
  --SubColor-BlackED: #ededed;

  // Badge Active 색상
  --AlertBadge-Active: #fc3030; // 새로운 알림이 있을 때
  --RankUpBadge-Green: #77d677; // 순위가 올랐을 때 색상
  --RankDownBadge-Red: #ff5656; // 순위가 떨어졌을 때 색상
  --RankNewBadge-gold: #fec417; // 순위에 처음 들어왔을 때 색상

  // font style
  --Font-Gray: #777777;
}
