#container {
  section#visit {
    .column {
      height: auto;
      article.dragger {
        &#users-statistics {
          display: flex;
          flex-direction: column;
          gap: 20px;
          border: none;
          box-shadow: none;
          div.statList {
            height: calc((100% - 40px) / 3);
            border: 1px solid #000;
            border-radius: 10px;
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px 1px;
            &#users-return {
              .canvas_wrap {
                &::before {
                  background-color: #ededed;
                }
              }
            }
            h3 {
              height: fit-content;
              padding-top: 10px;
              line-height: normal;
              flex-direction: column;
              position: absolute;
              left: 0;
              top: 0;
              span.fcolor_gray {
                display: inline-block;
                font-size: 10px;
                color: var(--SubColor-Black77);
              }
            }
            .content {
              height: 100%;
              margin: 0 auto;
              justify-content: center;
              align-items: center;
              gap: 30px;
              .txtBox {
                color: var(--MainColor-Black);
                font-size: 12px;
                p:not(:first-child) {
                  margin-top: 5px;
                }
                .circle_01::before {
                  content: "";
                  display: inline-block;
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  margin-right: 3px;
                  background-color: var(--SubColor-Purple1);
                }
                .circle_02::before {
                  content: "";
                  display: inline-block;
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  margin-right: 3px;
                  background-color: var(--MainColor-Purple);
                }
                .thanData {
                  &::after {
                    content: "";
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url(../images/common/trend_up.png) no-repeat center;
                    vertical-align: middle;
                  }
                }
              }
              .canvas_wrap {
                width: 110px;
                height: 110px;
                position: relative;
                &::before {
                  content: "";
                  display: block;
                  width: 100%;
                  height: 100%;
                  background-color: #e7ccff;
                  clip-path: circle(50% at center);
                  position: absolute;
                  left: 0;
                  top: 0;
                }
                &::after {
                  content: "";
                  display: block;
                  width: 100%;
                  height: 100%;
                  background-color: #fff;
                  clip-path: circle(42.5% at center);
                  position: absolute;
                  left: 0;
                  top: 0;
                }
                canvas {
                  position: absolute;
                  z-index: 1;
                }
              }
            }
          }
        }
        &#users-visitTime {
          .content {
            padding: 1.042vw 3.125vw 1.823vw; /* 20px 60px 35px; */
            &::after {
              content: "";
              display: block;
              clear: both;
            }
            p.currentTime {
              font-size: 10px;
              float: right;
              margin-right: -30px;
            }
            .canvas_wrap {
              height: 100%;
              margin-top: 40px;
              div.chart_legend {
                display: flex;
                flex-direction: column;
                align-items: end;
                gap: 5px;
                span {
                  display: flex;
                  align-items: center;
                  width: 40px;
                  font-size: 8px;
                  vertical-align: middle;
                  &::before {
                    content: "";
                    display: inline-block;
                    padding: calc(7px / 2);
                    border: 0.5px solid #222;
                    border-radius: 50%;
                    margin-right: 7px;
                  }
                  &.member {
                    &::before {
                      background-color: var(--MainColor-Purple);
                    }
                  }
                  &.guest {
                    &::before {
                      background-color: var(--MainColor-Yellow);
                    }
                  }
                }
              }
            }
          }
        }
        &#users-demographics {
          flex: 1;
          .content {
            padding: 1.042vw 3.125vw 1.823vw; /* 20px 60px 35px; */
            &::after {
              content: "";
              display: block;
              clear: both;
            }
            p.currentTime {
              font-size: 10px;
              float: right;
              margin-right: -30px;
            }
            .canvas_wrap {
              margin-top: 30px;
              position: relative;
              div.chart_legend {
                display: flex;
                flex-direction: column;
                gap: 5px;
                position: absolute;
                right: 0;
                top: 30px;
                span {
                  display: flex;
                  align-items: center;
                  width: 40px;
                  font-size: 8px;
                  &::before {
                    content: "";
                    display: inline-block;
                    padding: calc(7px / 2);
                    border-radius: 50%;
                    margin-right: 7px;
                  }
                  &.male {
                    &::before {
                      background-color: var(--MainColor-Purple);
                    }
                  }
                  &.female {
                    &::before {
                      background-color: var(--MainColor-Yellow);
                    }
                  }
                }
              }
            }
          }
        }
        &#users-traffic {
          flex: 1;
        }
      }
    }
  }
}
